<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>React + Node.js App</title>
</head>

<body>
  <div id="root">
    <%- component %>
  </div>

  <ol>
    <li>
      <a href="/articles/ec-dif-ord-n-intro">
        Ecuatii diferentiale de ordinul n. Notiuni introductive
      </a>
    </li>
    <li>
      <a href="/articles/ec-dif-lin-ord-1-omo-neomo">
        Ecuatii diferentiale liniare, de ordinul 1, omogene si neomogene
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/aplicatii-ec-dif-lin-ord-1-nelin-ord-1-red-la-ec-lin">
        Aplicatii la ecuatii diferentiale liniare de ordinul 1 si neliniare de ordinul 1 reductibile la ecuatii liniare (Bernoulli si Riccati)
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/ec-dif-lin-ord-n-omo-neomo">
        Ecuatii diferentiale liniare de ordin n omogene si neomogene
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/ec-dif-lin-ord-1-aplicatii">
        Aplicatii la ecuatii diferentiale liniare de ordinul 1
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/aplicatii-ec-dif-lin-ord-n">
        Aplicatii la ecuatii diferentiale liniare de ordinul <b>n</b> 
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/sist-ec-dif-lin-ord-1">
        Sisteme de ecuatii diferentiale liniare, de ordinul 1
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/ap-recap-lc">
        Aplicatii recapitulative pentru lucrarea de control
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/ap-recap-lc2">
        Aplicatii recapitulative pentru lucrarea de control 2
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/ec-dif-lin-ord-n-neomo">
        Ecuatii diferentiale de ordinul n neomogene
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/aplicatii-sist-ec-dif-lin-omo-ord-1-ct">
        Aplicatii la sisteme de ecuatii diferentiale liniare, omogene, de ordinul 1 cu coeficienti constanti 
      </a>
    </li>
    <li>
      <a href="/articles/mate/ecuatii-diferentiale/exercitii">
        Ecuatii diferentiale. Exercitii
      </a>
    </li>
  </ol>
  <script defer="defer" src="<%= assets[" client.js"] %>"></script>
</body>

</html>